services:
  node-app:
    image: khaled2299/docker-ex
    build: .
    volumes:
      - ./src:/app/src:ro
    env_file:
      - ./.env
    environment:
      - MONGODB_URI=mongodb://root:example@mongo:27017/admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - mongo
      - redis
  nginx:
    image: nginx:latest
    container_name: express-node-nginx-container
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - node-app
  mongo:
    image: mongo:4.4
    restart: always
    container_name: node-app-mongo
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
  redis:
    image: redis:alpine
    restart: always
    container_name: node-app-redis
    ports:
      - "6379:6379"
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    depends_on:
      - mongo

volumes:
  mongo-data: